* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Helvetica", sans-serif; /* Font padrão para todos os elementos */
}

body {
  background: linear-gradient(0deg, rgba(249,245,255,1) 0%, rgba(236,236,236,1) 9%, rgba(86,125,140,1) 100%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;  
}

img {
  width: 3.5rem;
  margin-bottom: 10px;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
  gap: 20px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  width: 90%;
}

#input-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 30px;
  border: 3px solid #ffffff;
  background-color: #99B1BF;
  width: 400px;
  height: 250px;
}

#instruction {
  font-size: 1.5rem;
}

#number {
  background-color: #e5e7e8;
  border: 1px solid #e5e7e8;
  width: 100%;
  min-height: 2em;
  font-size: 1.2rem;
  appearance: none;
  text-align: center;
}

#convert-btn {
  border: 1px solid #C3D973;
  background-color: #EBF222;
  padding: 10px 30px;
  font-size: 1rem;
  color: #274955;
}

#convert-btn:hover {
  cursor: pointer;
}

#output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid #ffffff;
  width: 400px;
  height: 100px;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #274955;
}
